*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #DCD6F7;
}


#sketch-area{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 20px auto; 
    background-color: white;
   box-shadow: 10px 10px rgb(0,170,255,0.034);

}
#slider-container{
    margin: 0 200px;
}

#btn-container{
    margin: 0 auto;
    text-align: center;
}
#colorPicker-btn{
    border: none;
    width: 50px;
}
button{
    
    margin: 30px 10px;
    width: 200px;
}

#slider-value{
    margin: 0 auto;
    text-align: center;
}
.cell{
    margin: auto;
    background-color:transparent;
    border: 1px solid whitesmoke;    
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    outline: none;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
width: 25px;
height: 25px;
background: #AA96DA;
cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background:black ;
    cursor: pointer;
}